* {
  box-sizing: border-box;
}

/* Enables smooth scrolling to different sections of the page */
html{
  scroll-behavior: smooth;
}

/* Rounded the profile picture */
header img{
  border-radius: 40%;
}
body {
  font-family: Arial;
  margin: 0;
}

/* Wanted the section headers to take up 100% width */
#aboutme, #portfolio{
  min-width: 100%;
  text-align: center;
  flex: 1 0 0;
}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20%;
  justify-content: left;
}

main section {
  background-color: lightblue;
}

nav a {
  background-color: lightblue;
  flex: 1;
  border-style: solid;
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Added effects on nav when hovering pointer */
nav a:hover{
  background: #fff;
}

/* display:flex makes it that elements that don't fit go to the bottom rather than sticking out awkwardly*/
main {
  display: flex;
  flex-wrap: wrap;
  border-top-style:ridge;
  border-width: 2%;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px;
  background: #13293d;
  color: #fff;
}

.main-header img{
  margin-right: 25px;
}

/* flex 1 0 0 makes it that cards are sized equally */

.card {
  flex: 1 0 calc(33.333% - 20px); /* Adjust the percentage based on how many cards you want per row */
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  box-sizing: border-box;
}

.card:first-child {
  flex-basis: 100%;
  width: 100%;
}


/* on hover, the card is resized and highlighted by a box-shadow */
.card:hover{
  box-shadow: 25px 10px 20px 20px black;
  flex: 2 0 0;
}

.card header {
  padding: 20px;
  background: #13293d;
  color: #fff;
}

.card img {
  width: 100%;
  min-width: 400px;
  margin-top: 2%;
}

@media (max-width: 1165px) {
  nav{
  flex-direction: column;
  flex: 1;
  align-items: stretch;
  }
}
